<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Gift-Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li  class="nav-item">
                    <a class="nav-link" routerLink="/admin">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="product-list">Product List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="add-product">Add Product</a>
                </li>
            </ul>
            <button class="btn btn-danger" (click)="logout()" type="button">Log out</button>
        </div>
    </div>
</nav>

<div class="container mt-3">
    <router-outlet></router-outlet>
</div>