.card{
    margin-bottom: 50px;
    width: 300px;
}
.price-text{
    font-size: large;
    font-weight: bold;
}
.card-title{
    cursor: pointer;
}

.card-img-top{
    width: 300px;
    height: 200px;
}