<mat-card>
    <div class="row">
        <div class="col-md-12">
            <h3>Products</h3>
            <hr>
        </div>
        <div *ngFor="let product of products" class="col-md-3">
        <div  class="card">
            <img class="card-img-top" [src]="product.image" alt="Card image">
            <div (click)="showDetails(product.id)" class="card-body">
              <h4 class="card-title">{{product.name}}</h4>
              <p class="card-text">{{product.description}}</p>
              <p class="price-text">Price: ${{product.price}}</p>
              <!-- <button class="btn btn-danger">See Details</button>
              <button class="btn btn-danger">Add To Cart</button> -->
            </div>
            <button type="button" (click)="addToCart(product.id)" class="btn btn-info">Add to cart</button>
          </div>
        </div>
    </div>
    
</mat-card>
<!-- 
<div class="row">
    <div class="col-md-3">
        <mat-card>
            <img class="card-img-top" src="assets/img/product/bracelet.jpg" alt="Card image" style="width:100%">
        </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card>
            <img class="card-img-top" src="assets/img/product/bracelet.jpg" alt="Card image" style="width:100%">
        </mat-card>
    </div>
</div> -->
