/* You can add global styles to this file, and also import other style files */
/* @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */

/* latin-ext */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/titilliumweb/v15/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  
  @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
  }
  
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .modal-loader {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    text-align: center;
  }
  
  .input-field {
    width: 100%;
  }
  
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
  
  .side-nav .list-group-item {
    text-align: center;
    background-color: #2c2c2e;
    font-size: large;
    font-weight: 300;
    color: #FFF;
    margin-top: 10px;
  }
  
  .side-nav .list-group-item:hover {
    background-color: #212122;
    color: #FFF;
  }
  
  .side-nav .list-group-item:visited {
    background-color: #78787a;
    color: #FFF;
  }
  
  .row-hover:hover {
    cursor: pointer;
    font-weight: bold;
  }
  
  .fixd {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding: 20px;
  }
  
  
  
  
  
  .fa-2x {
    font-size: 2em;
  }
  
  .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
  }
  
  
  
  .main-menu {
    background: #2c2c2e;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    width: 17%;
    
  }
  
  .main-menu>ul {
    margin: 50px 0;
    font-size: 12px;
  }
  
  .main-menu li {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgb(243, 243, 243);
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 100%;
  }
  
  .main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }
  
  .main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: auto;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .no-touch .scrollable.hover {
    overflow-y: hidden;
  }
  
  .no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  nav ul,
  nav li {
    outline: 0;
    margin: 0;
    padding: 0;
  }
  
  .main-menu li:hover>a,
  nav.main-menu li.active>a,
  .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus,
  .dropdown-menu>.active>a,
  .dropdown-menu>.active>a:hover,
  .dropdown-menu>.active>a:focus,
  .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
  .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
  }
  
  .area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
  }
  
  .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
    color: rgba(0,0,0,1)!important;
  }
  
  .navbar, .offcanvas-header{
    height: 60px;
  }
  
  
  .side-nav {
    background: #2c2c2e;
    top:60px;
    bottom: 0;
    left: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    width: 327px;
    
  }
  
  .side-nav>ul {
    margin: 20px 0;
    font-size: 12px;
  }
  
  .side-nav li {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .side-nav li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgb(243, 243, 243);
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    width: 100%;
  }
  
  .side-nav .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
  }
  
  .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: auto;
    font-family: 'Titillium Web', sans-serif;
  }
  
  .side-nav>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .side-nav-body{
    width: 327px;
  }
  
  .side-nav li:hover>a,
  nav.side-nav li.active>a{
    color: #fff;
    background-color: #04AA6D;
  }
  .title-hr{
    border: 2px solid black;
  }